/*universal styles*/

body {
  margin:0;
}

html{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size:40px;
  color:hsl(0,0%,26%);
  letter-spacing: 1px;
}

h4{
  font-size: 20px;
  color:hsl(0,0%,26%);
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  color:blue;
}

.area {
  padding-left:24px;
  display:flex;
}

.left-area{
  width:60%;
  padding-top:32px;
  padding-bottom:32px;
  padding-right:24px;
}

.description{
  display:flex;
  flex-direction: column;
  line-height: 1.2;
  width:40%;
}

i{
  margin-left:5px;
}

@media only screen and (max-width:555px){
  .area{
    padding-left:0;
    flex-direction: column;
  }

  .left-area{
    width:100%;
    padding:0;
  }

  .description{
    width:100%;
  }
}

/*Header*/

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:64px;
  padding-left: 24px;
  padding-right: 24px;
  top:0;
  position: fixed;
  z-index: 1;
  width:auto;
  background-color: White;
  left:0;
  right:0;
}

header .title {
  display: flex;
  align-items: center;
  height:32px;
}

.title{
  font-weight: bold;
}

.title span{
  color:grey;
  font-weight: lighter;
}

nav {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  line-height: 64px;
  font-family:Helvetica;
  font-weight:350;
}

nav a:nth-child(1n+2){
  border-left:16px solid hsl(166,100%,85%);
}

header .mobile{
  display:none;
}

@media only screen and (max-width:555px){
  .title p, nav{
    display:none;
  }

  header{
    justify-content: space-around;
    align-items: center;
  }

  header .mobile{
    display:inherit;
  }

}

/*learn something areas*/

.banner.area{
  margin-top: 64px;
  position: relative;
}

.banner {
  background-color: hsl(0,0%,91%);
}


.large-photo{
  width:100%;
  height:auto;
  margin-bottom:0;
}

.banner .description{
  justify-content: center;
}

.description h1{
  font-weight:900;
  line-height: 1.2;
}

.banner h4{
  margin-top:24px;
  margin-bottom:24px;
  font-weight:bold;
}

.banner a{
  color:white;
  text-decoration: none;
  font-size: 20px;
  line-height:36px;
  background-color:hsl(0,0%,26%);
  padding-top:8px;
  padding-bottom:8px;
  width:60%;
  text-align: center;
}

.banner a:hover{
  background-color: navy;
  transition: background-color 80ms ease-out 50ms;
}


@media only screen and (max-width:555px){
  .banner h1{
    padding-left:16px;
    margin-top:32px;
    margin-bottom:32px;
  }

  .banner h4{
    margin-top:0px;
    margin-bottom:24px;
    padding-left: 16px;
  }

  .banner a {
    margin-right: auto;
    margin-left: auto;
    margin-bottom:32px;
    background-color: hsl(0,0%,65%);
  }

}

/*2nd banner areas*/

.banner2 .left-area{
    border-right:1px solid grey;
}

.banner2 h1{
  margin-top:32px;
  margin-bottom:24px;
}

.banner2 p{
  margin:0;
}

.banner2  .description{
  justify-content: flex-start;
  padding-left:0;
  padding-right:0;
}

.guide{
  display:flex;
  padding-bottom:16px;
  padding-top:32px;
  border-bottom: 1px solid grey;
}

.guide:nth-child(1n+2){
  padding-top:16px;
}

.guide:nth-child(3n+0){
  background-color:hsl(0,0%,91%);
}

.guide .photo{
  width:35%;
  padding-left:16px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.photo img{
  max-width:100%;
}

.photo .mobile{
  display:none;
}

.details{
  padding-left:20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:65%;
}

.details h4{
  margin:0;
}

.details p, .details a{
  margin-top:8px;
  margin-bottom:0px;
  font-size:16px;
}

.details a{
  color:blue;
}

@media only screen and (max-width:555px){
  .banner2 .left-area{
    display:none;
  }

  .guide {
    padding-top:16px;
    border:none;
    flex-direction: column;
    padding-bottom:32px;
  }

  .guide:nth-child(1n+2){
    padding-top:32px;
  }

  .guide:nth-child(3n+0){
    background-color:White;
  }

  .guide .photo{
    width:auto;
    padding-right:16px;
  }

  .photo img{
    display:none;
  }

  .photo .mobile{
    display:inline-block;
  }

  .details{
    padding-left:32px;
    padding-top:16px;
  }

}

/*Start Learning*/

.learning.area{
  display: block;
  background-color:hsl(0,0%,91%);
  padding:32px 72px 0px 72px;
}

.learning h1{
  margin-top:0;
  margin-bottom:32px;
  text-align: center;
}

.categories{
  display:flex;
  justify-content:space-between;
}

.category{
  width:100%;
  padding-bottom:32px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.category:nth-child(3n+2){
  padding-left:32px;
  padding-right:32px;
}

.categories a {
  margin-top:16px;
  margin-bottom:0;
  margin-left: 16px;
}

.categories p{
  margin-top:8px;
  margin-left:16px;
  margin-bottom:0;
}

.category a{
  font-size: 20px;
}

@media only screen and (max-width:555px){
  .learning.area{
    padding: 32px 16px 32px 16px;
    background-color: White;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
  }

  .learning h1{
    margin-bottom:16px;
    font-weight: bold;
  }

  .learning p{
    display:none;
  }

  .categories {
    flex-direction: column;
  }

  .learning a{
    padding-top: 16px;
    padding-bottom:24px;
    padding-left:16px;
    margin-left: 0px;
    margin-top:0px;
    width:auto;
    background-color: hsl(0,0%,91%)
  }

  .learning a:hover{
    background-color: navy;
    color:white;
    transition: background-color 80ms ease-out 50ms,
                color 80ms ease-out 50ms;
  }

  .category{
    padding-bottom:0px;
    margin-bottom:8px;
    width:100%;
  }

  .categoryd {
    padding-top:16px;
    padding-bottom:24px;
    margin-bottom:8px;
    background-color:hsl(0,0%,91%);
    width:100%;
  }

  .category:nth-child(3n+2){
    padding-left: 0px;
    padding-right:0px;
  }

  .category h4{
    margin-left: 16px;
  }

}

/*Thesis*/

#thesis {
  text-align: center;
  padding-top:32px;
  margin-bottom:0px;
  width:100%;
  margin-top:0px;
}

.thesis video{
  width:100%;
}

.thesis .left-area{
  border-right: none;
  padding-bottom:0px;
}

.thesis .left-area h4{
  margin-top:24px;
  margin-bottom:0px;
}

.thesis a{
  font-size: 20px;
  color:hsl(0,0%,26%);
}

.thesis a:hover{
  color:blue;
}

.thesis .left-area p{
  margin-top: 8px;
  margin-bottom:32px;
}

.thesis .description{
  padding-top:32px;
}

.thesis .guide{
  border-bottom:none;
}

.thesis .guide:nth-child(0n+1){
  background-color:hsl(0,0%,91%);
  padding-top:16px;
}

@media only screen and (max-width:550px){
  #thesis {
    margin-bottom:16px;
  }

  .thesis{
    margin-bottom:24px;
  }

  .left-area h4, .left-area p{
    display:none;
  }

  .thesis .description{
    display:none;
  }

}

/*Footer*/

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top:1px solid black;
  padding-top:16px;
  padding-left:24px;
  padding-bottom:20px;
}


footer a{
  padding-right: 15px;
}

@media only screen and (max-width:550px){
  footer {
    border-top:none;
    padding-bottom:16px;
  }

  footer a{
    display:none;
  }
}
